@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "cooper";
    src: url(assets/font.TTF);
}

@font-face {
    font-family: "calvino";
    src: url(assets/calvino.ttf);
}

body {
    background-color: white;
}

*,
a,
div,
span,
input,
textarea,
body,
html {
    font-family: "Poppins" !important;
}

.poppins {
    font-family: "Poppins", serif;
}

.rubik {
    font-family: "Poppins", sans-serif;
}

.cooper {
    font-family: 'Poppins';
}

.calvino {
    font-family: "calvino" !important;
}


@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 8s linear infinite;
}